@model IEnumerable<paceproject.Models.Infrastructure>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InfrastructureName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Equipment.EquipmentCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNubmer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryTag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make.MakeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InfrastructureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipment.EquipmentCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNubmer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryTag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make.MakeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InfrastructureID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InfrastructureID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InfrastructureID })
        </td>
    </tr>
}

</table>
