@model paceproject.Models.Server

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Server</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServerName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GeneralInformation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GeneralInformation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OperatingSystem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OperatingSystem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Infrastructure.InfrastructureName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Infrastructure.InfrastructureName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department.DepartmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DomainBound)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DomainBound)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
