@model IEnumerable<paceproject.Models.Make>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if ((bool)ViewBag.IsAdmin)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MakeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MakeName)
        </td>
        @if ((bool)ViewBag.IsAdmin)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MakeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MakeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MakeID })
        </td>
        }else
        {
            <td>
           @Html.ActionLink("Details", "Details", new { id=item.MakeID })
           </td>
        }
    </tr>
}

</table>
