@model paceproject.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Department</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DepartmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DepartmentName)
    </div>
</fieldset>
@if ((bool)ViewBag.IsAdmin)
    {
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.DepartmentID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    }else
    {
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
    }
