@model IEnumerable<paceproject.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceInformation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceIPAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstallDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Server.ServerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceInformation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceIPAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Server.ServerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceID })
        </td>
    </tr>
}

</table>
